.pumpControl {
    width: auto;
    height: fit-content;
    display: grid;
    grid-template-rows: 20px 40px 75px 75px 75px;
    gap: 2px;
    
}

.btn {
    display: block;
    background-color: #333;
    width: 75px;
    height: 75px;
    border: 0;
    margin: 10px auto;
    color: #fff;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
    padding: 0;
    text-align: center;
  }
  
  .btn:hover {
    background-color: #999;
  }

  .btn-icon {
    font-size: 2.5rem;
  }
  