.App {
    text-align: center;
  }
  .Subheader {
    background-color: #282c34;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  .buttonGrid {
    height: 80%;
    display: grid;
    grid-template-columns: 11% 11% 11% 11% 11% 11% 11% 11%;
    column-gap: 10px;
    overflow: hidden;
  }
  
.overfill-btn {
  font-size: small;
}