.footer {
    position: absolute;
    bottom: 0;

}
.menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 5px;
    gap: 10px;
    grid-template-rows: 1fr;
    max-height: 80%;
    padding: 1fr 0fr;
}

.actionGrid {
    align-self: center;
    align-items: center;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    gap: 10px;
    height: 10%;
}

.button {
    display: grid;
    justify-items: center;
    grid-template-rows: 2fr 1fr;
    font-size: 10px;
    gap: 0px;
    padding: 0;
}