.mixerButton {
    display: block;
    background-color: #333;
    width: 75px;
    height: 75px;
    border: 0;
    margin: 10px auto;
    color: #fff;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    padding: 0;
    text-align: center;
  }

  .mixerGrid {
      display: grid;
      grid-template-columns: 12% 12% 12% 12% 12% 12%;
      column-gap: 10px;
      height: 90%
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .modal-main {
    position:fixed;
    background: white;
    width: 80%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }