.fluidGrid {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    gap: 1%;
}

.createFluidContainer {
    display: grid;
    grid-template-rows: auto 1fr;
    padding: 2%;
    min-height: 98vh;
}

